.login-popup {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 568px;
  width: calc(100% - 42px);
  padding: 29px 0 0;

  &.active {
    display: block;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: $semiBoldWeight;
    line-height: 1.8rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: $signColor;
    padding: 0 37px 11px;
  }

  &__form {
    display: block;
    padding: 0 37px;
  }

  &__item {
    margin-bottom: 12px;
    position: relative;

    &:last-child {
      padding-top: 15px;
      margin-bottom: 30px;
    }
  }

  &__eye {
    display: block;
    width: 18px;
    height: 13px;
    position: absolute;
    top: calc(50% + 11px);
    left: 10px;
    transform: translateY(-50%);
  }

  &__label {
    font-size: 1.1rem;
    line-height: 2.5rem;
    font-weight: $lightWeight;
    letter-spacing: 0.06em;
    color: $signColor;
    opacity: 0.5;
  }

  &__input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($signColor, 0.1);
    outline: none;

    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.06em;
    color: $signColor;
    padding: 10px 18px;

    transition: border-bottom-color 0.2s;

    &:hover,
    &:focus,
    &:valid {
      border-bottom-color: rgba($signColor, 1);
    }
  }

  &__submit {
    display: block;
    width: 100%;

    font-family: $secondaryFont;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: $boldWeight;
    color: $signColor;
    padding: 9px 18px;
    background: transparent;
    border: 1px solid $signColor;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }

  &__forget-pass {
    display: block;
    background: rgba($black, 0.2);

    text-align: center;
    padding: 16px 37px;
  }

  &__forget-pass-text {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: $lightWeight;
    color: $signColor;
  }

  &__forget-pass-link {
    font-size: inherit;
    line-height: inherit;
    font-weight: $semiBoldWeight;
    color: inherit;
    text-decoration: none;
  }
}

.close-btn {
  position: absolute;
  z-index: 999;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: $signColor;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

[dir="rtl"],
.rtl {
  .close-btn {
    right: auto;
    left: 15px;
  }
}
