.question-popup {
  padding-top: 67px;

  &__title {
    // font-size: 2.9rem;
    @include font-size(29);
    padding: 0 117px 8px;
    text-align: unset;
  }

  &__subtitle {
    @include font-size(14);
    padding: 0 117px 35px;
    text-align: unset;
  }

  &__form {
    padding: 0 117px 95px;

    .wpcf7-response-output {
      @include font-size(14);
    }
  }

  &__item {
    padding-bottom: 33px;
  }
}
