.subscribe-popup {
  display: none;

  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 580px;
  width: calc(100% - 42px);
  max-height: calc(100% - 100px);
  overflow-y: auto;
  padding: 36px 0 0;

  &.active {
    display: block;
  }

  &__title {
    // font-size: 1.8rem;
    font-weight: $semiBoldWeight;
    // line-height: 1.8rem;
    // letter-spacing: 0.06em;
    @include font-size(18, 18, 1);
    text-transform: uppercase;
    text-align: center;
    color: $signColor;
    padding: 0 37px 11px;
  }

  &__subtitle {
    // font-size: 1.1rem;
    // line-height: 2.5rem;
    @include font-size(11, 25);
    font-weight: $lightWeight;
    // letter-spacing: 0.06em;
    text-align: center;
    color: $signColor;
    padding: 0 37px;
    padding-bottom: 20px;
  }

  &__form {
    padding: 0 37px 35px;
  }

  &__item {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($signColor, 0.1);
    outline: none;

    // font-size: 1.5rem;
    // line-height: 1.5rem;
    // letter-spacing: 0.06em;
    @include font-size(15, 15, 0.9);
    color: $signColor;
    padding: 10px 18px;

    transition: border-bottom-color 0.2s;

    &:hover,
    &:focus,
    &:valid {
      border-bottom-color: rgba($signColor, 1);
    }

    &::placeholder {
      // font-family: inherit;
      // font-size: inherit;
      // font-weight: inherit;
      // font-style: inherit;
      // line-height: inherit;
      // color: inherit;
      @include font-inherit;
      opacity: 0.5;
    }
  }

  &__checkbox-label {
    // font-size: 1.2rem;
    // line-height: 2rem;
    @include font-size(12, 20);
    font-weight: $lightWeight;
    color: $signColor;

    margin-left: 15px;
  }
  &__terms-link {
    // font-family: inherit;
    // font-size: inherit;
    // line-height: inherit;
    // color: inherit;
    @include font-inherit;

    font-weight: $semiBoldWeight;
    text-decoration: none;
  }

  &__submit {
    display: block;
    min-width: 217px;

    font-family: $secondaryFont;
    // font-size: 1.6rem;
    // line-height: 1.8rem;
    @include font-size(16, 18);
    font-weight: $boldWeight;
    color: $signColor;
    padding: 9px 18px;
    background: transparent;
    border: 1px solid $signColor;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }

  &__msg-box {
    display: block;
    background: rgba($black, 0.2);

    text-align: center;
    padding: 16px 37px;
  }

  &__msg {
    // font-size: 1.2rem;
    // line-height: 2rem;
    @include font-size(12, 20);
    font-weight: $lightWeight;
    color: $signColor;
  }
}

[dir="rtl"],
.rtl {
  .subscribe-popup {
    &__checkbox-label {
      margin-left: 0;
      margin-right: 15px;
    }

    &__eye {
      right: auto;
      left: 20px;
    }
  }
}
