.login-popup {
  &__title {
    font-size: 7.2rem;
    line-height: 7.2rem;
    padding-bottom: 42px;
    text-align: unset;
  }

  &__item {
    margin-bottom: 35px;
  }

  &__eye {
    cursor: pointer;
  }

  &__label {
    font-size: 1.4rem;
  }

  &__input {
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 15px 25px;
  }

  &__submit {
    font-size: 1.8rem;
    padding: 20px 40px;
  }
}

.close-btn {
  top: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
  transition: transform 0.3s;

  &:hover {
    transform: rotate(180deg);
  }
}

[dir="rtl"],
.rtl {
  .close-btn {
    left: 30px;
    right: auto;
  }
}
