// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Quicksand:wght@500;700&display=swap");

$Poppins: "Poppins", sans-serif;
$Quicksand: "Quicksand", sans-serif;

$mainFont: $Poppins;
$secondaryFont: $Quicksand;

$baseFontSize: 16px;

$thinWeight: 100;
$extraLightWeight: 200;
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;
$extraBoldWeight: 800;
$blackWeight: 900;

// Colors
$white: #fff;
$black: #000;
$red: #d3222a;
$red2: #9d0e15;
$lightBlack: #373f41;
$grey: #5a5a5a;
$grey2: #404040;
$grey3: #4f4f4f;
$grey4: #515151;
$grey5: #737b7d;
$grey6: #9d9d9d;
$grey7: #717476;
$lightGrey: #646464;
$lightGrey2: #f5f5f5;
$lightGrey3: #f0f0f0;
$lightGrey4: #eaeaea;
$lightGrey5: #9d9d9d;
$darkGrey: #333;
$darkGrey2: #444;
$darkGrey3: #171717;
$darkGrey4: #242424;
$darkGrey5: #d2d2d2;
$darkGrey6: #6a6a6a;
$darkGrey7: #323232;

//
// $red: #d3222a;
// $red2: #9d0e15;

// $darkGrey: #323232;
// $darkGrey: #4f4f4f;
// $grey: #828282;
// $grey2: #aaa;
// $lightGrey: #ececec;
// $light: #f0f0f0;

$gradient1: linear-gradient(152deg, #aaaaaa 12%, #818181 82%);
$gradient2: linear-gradient(318deg, #cdcdcd 19%, #9d9d9d 89%);
$gradient3: linear-gradient(152deg, #cdcdcd 12%, #9d9d9d 82%);

$menuBgMob: $white;
$menuBorder: $lightGrey4;

$titleColor: $lightBlack;
$subtitleColor: $grey2;
$textColor: $lightGrey;

$headerText: $grey5;
$headerPromBg: $darkGrey4;
$headerPromText: $white;

$catsTitleHover: $white;
$catsBgHover: $darkGrey;

$featuresText: $grey;
$bgFeatures: $lightGrey3;
$bgHoverFeatures: $red;

$singleProdTitle: $grey2;
$singleProdList: $darkGrey2;
$prodBg: $lightGrey2;

$reviewsName: $black;
$reviewsProd: $black;
$reviewsText: $grey4;
$reviewsColor: $grey7;

$price: $darkGrey;
$line: $darkGrey;

$btnBg: $red;
$btnActive: $red2;
$btnText: $white;

$popupSubmitHover: #c6464c;
$popupSubmitActive: $red;
$popupSubmitDisabled: #757575;

$svgFill: $red;

$bgBrands: rgba($darkGrey, 0.1);

$bgFooter: $darkGrey3;
$bgFooterDev: $black;
$textFooter: $white;

$text404: $lightBlack;
$contactFormDark: $black;
$contactFormLight: $white;
$contactFormBorderDark: $darkGrey5;
$contactFormBorderWhite: $white;

$faqLines: $grey6;
$questionText: $grey2;
$answerText: $lightGrey;

$signColor: $white;

$sliderDots: $lightGrey5;

$pagination: $darkGrey6;
$paginationCurrent: $white;
$paginationBorder: $lightGrey4;

$cartItemBorder: $darkGrey5;

$myAccount: $grey3;
$myAccountNav: $darkGrey7;
$myAccountNavActive: $red;
$myAccountRequired: $red;

// $processing: #009432;
// $onhold: #f79f1f;
// $failed: #ea2027;
// $completed: #0652dd;
// $canceled: #7f8c8d;
// $pending: #7f8c8d;
// $refunded: #7f8c8d;

$processing: #f2c94c;
$onhold: #0652dd;
$failed: #ea2027;
$completed: #27ae60;
$cancelled: #d44b51;
$pending: #7f8c8d;
$refunded: #7f8c8d;

$breadcrumbsCurrent: $darkGrey;
$breadcrumbsLinks: #828282;
$breadcrumbsHover: #4f4f4f;
