.catalog-home {
  padding-bottom: 75px;

  &__title {
    margin-bottom: 60px;
  }

  .products {
    margin-bottom: 60px;
  }
  &__slider {
    padding-bottom: 0;
  }
  &__slider-arrow-box {
    display: none;
  }
}
